HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!starinfo-app/src/main1/**/build/
!**/src/test/**/build/
node_modules/
src/main/resources/static/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
# Spring .env
.env
# React .env
starinfo-app/.env
#firebase API KEY
/src/main/resources/teamastroneerstarinfo-firebase-adminsdk-l8qw1-62cdf88ebf.json
bin/
/src/main/resources/application-DB.properties
!starinfo-app/src/main1/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!starinfo-app/src/main1/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
