.api-ll-popup-container {
    position: absolute;
    background: linear-gradient(#151829, #353A50);
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: clamp(10px, 2vw, 20px);
    color: #C7C7C7;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05em;
    text-align: center;
    z-index: 9999;
}
.api-ll-popup-container h3 {
    font-size: clamp(14px, 2vw, 20px);
    color: #98AED2;
    margin-bottom: 10px;
}

.api-ll-popup-container .l_w,
.api-ll-popup-container .l_g {
    font-size: clamp(12px, 1.5vw, 18px);
    color: #98AED2;
    margin: 5px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
