.moonPhaseContainer {
    background-color: black;
    color: white;
    font-family: "Sacramento", cursive;
    text-align: center;
    padding: 4%;
    position: relative;
}

.moonPhaseTitle {
    font-size: 60px;
    margin-top: 60px;
}

/* 버튼과 입력 필드의 통일된 스타일 */
.sharedStyle {
    border: 2px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(145deg, rgba(30, 30, 30, 0.9), rgba(50, 50, 50, 0.9));
    color: #ffffff;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(255, 255, 255, 0.2);
}

/* 버튼 스타일 */
.searchBtn {
    padding: 12px 24px;
    position: absolute;
    top: 30%;
    left: 9%;
    z-index: 1000;
}

.searchBtn:hover,
.executeBtn:hover {
    background: linear-gradient(145deg, rgba(50, 50, 50, 1), rgba(70, 70, 70, 1));
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6), 0px 0px 15px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.searchBtn:active,
.executeBtn:active {
    transform: scale(0.95);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(255, 255, 255, 0.2);
}

/* 입력 필드 스타일 */
.inputGroup {
    position: absolute;
    top: calc(33% + 60px);
    left: 9%;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 999;
}

.moonPhaseInput {
    padding: 10px 15px;
    width: 60px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    background: linear-gradient(145deg, rgba(20, 20, 20, 1), rgba(40, 40, 40, 1));
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: white;
}

.moonPhaseInput:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.moonPhaseInput::placeholder {
    color: rgba(200, 200, 200, 0.7);
}

/* 검색 버튼 */
.executeBtn {
    padding: 8px 16px;
    margin-left: 10px;
}

/* 이미지 및 기타 텍스트 스타일 */
.imageHolder img {
    height: 50vh;
    width: 100%;
    object-fit: contain;
}

.phaseInfo {
    margin-top: 20px;
}

.imageHeader {
    font-size: 20px;
    font-family: "Georgia";
}

#phase {
    font-size: 60px;
    color: #f5f5f5;
}
