/* PlanetLocationPopup.css */

.popup-overlay_planet {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-container_planet {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    font-family: Arial, sans-serif;
}

.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.popup-container_planet h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}

.popup-container_planet ul {
    list-style: none;
    padding: 0;
}

.popup-container_planet li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}
