/* ApiLLPopup.css */

.api-ll-popup-container {
    box-sizing: border-box;
    width: 300px;
    position: absolute;
    left: 5%;
    background: linear-gradient(#151829, #353A50);
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 15px;
    color: #C7C7C7;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05em;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    text-align: center;
}

.api-ll-popup-container .l_w {
    font-size: 22px;
    color: #98AED2;
    margin: 10px 0;
}

.api-ll-popup-container .l_g {
    font-size: 22px;
    color: #98AED2;
    margin: 10px 0;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

