/* ConstellationPopup.css */
.tooltip {
    position: absolute;
    top: 30px; /* 아이콘 아래로 30px */
    left: 30px; /* 아이콘 오른쪽으로 30px */
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
}

.icon-container:hover .tooltip {
    opacity: 1;
}

.popup-container {
    box-sizing: border-box;
    width: 35vw; /* Use viewport width for immediate responsiveness */
    max-width: 490px; /* Maximum width constraint */
    max-height: 100%;
    position: absolute;
    top: 50%;
    margin-left: -20%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#151829, #353A50);
    border: 0.5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 1vw; /* Responsive padding */
    color: #C7C7C7;
    font-family: 'Jaldi', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.05em;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
}

/* Image Container */
.image-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 10px 0;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1.1s ease forwards;
}

/* Image Styles */
.con_image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 350px;
    object-fit: contain;
}

/* Header 스타일 */
.header-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.detail_icon, .con_icon {
    width: clamp(30px, 5vw, 65px);
    border: 0.5px solid #ffffff;
    border-radius: 50%;
}

.tab-buttons button {
    background-color: #1D2237;
    color: #C7C7C7;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.detail_icon:hover {
    cursor: pointer;
}

/* name 및 name_k 텍스트 스타일 */
.name {
    font-size: clamp(16px, 2vw, 24px);
    color: #98AED2;
    text-align: center;
}

.name_k {
    font-size: clamp(18px, 2.5vw, 26px);
    color: #98AED2;
    text-align: center;
    white-space: nowrap;
}

hr {
    border: 0.5px solid #FFFFFF;
    width: 70%;
    opacity: 0.6;
    margin: 2px auto;
}

/* 본문 텍스트 스타일 */
.popup-container .text_constellation {
    font-size: clamp(10px, 2.5vw, 20px);
    line-height: 37px;
    color: #C7C7C7;
    margin: 15px;
    text-align: justify;
}

.text_constellation {
    max-height: 220px;
    overflow-y: auto;
}

.popup-container.hidden {
    animation: fadeOut 0.1s ease forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade-out animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Tab button styles */
.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.tab-buttons button:hover {
    background-color: #3D4465;
}

.tab-buttons .active {
    background-color: #555A7D;
}

/* Info section styling */
.constellation-info {
    font-size: 18px;
    color: #C7C7C7;
    margin-left: 15px;
    max-height: 220px;
    overflow-y: auto;
}

/* Fade-in & Fade-out 애니메이션 */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.15s ease forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.15s ease forwards;
}
