/* src/main2/WeatherCard.scss */

.card {
  background: #fff;
  width: 100%; /* cardContainer의 너비에 맞추기 */
  height: 80px; /* 세로 길이 슬림하게 설정 */
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card__info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.card__info__place {
  font-size: 14px;
  color: #2F2F31;
}

.card__info__time {
  font-size: 20px;
  color: #22215B;
}

.card__info__date {
  font-size: 12px;
  color: #2F2F31;
}

.card__weather {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__weather__temp {
  font-size: 20px;
}

.card__weather__icon {
  animation: move 1s infinite alternate ease-in-out;
}

@keyframes move {
  to {
    transform: translateY(-3px);
  }
}
